@model AuthorModel
@{
    Layout = "Master.cshtml";
}

@section Header
{
    @Model.AuthorRssFeed()
}

<article class="post">

    <header>
        <h1 class="post-title"><a href="@Model.ArticulateAuthorRssUrl()" title="AuthorRSS feed"><i class="fa-solid fa-rss"></i><span class="hidden">RSS</span></a> @Model.Name</h1>
    </header>
    <section class="post-content">

        @if (Model.Image is not null)
        {
            var img = Model.Image.GetCropUrl(cropAlias: "wide", preferFocalPoint: true, useCropDimensions: true);
            <img class="postImage" src="@img" fetchpriority="high" width="625" height="320" alt="@Model.Name author profile image" />
        }
        <p>@Model.Bio</p>
        @if (Model.AuthorUrl is not null)
        {
            <p>
                Website: <a href="@Model.AuthorUrl" title="View Author Website" rel="nofollow noopener noreferrer" target="_blank">@Model.AuthorUrl</a>
            </p>
        }
    </section>

    <hr />

    @if (Model.PostCount == 0)
    {
        <section>No blog posts found</section>
    }
    else
    {
        <div class="author-posts">

            <h3>Author's Posts</h3>
            @await Html.PartialAsync("PostList", Model.Posts)

            @await Html.PartialAsync("Pager", Model.Pages)
        </div>

    }

</article>



