@model ListModel
@{
    Layout = "Master.cshtml";
}


    @if (!Model.Children.Any())
    {
        <article>No blog posts found</article>
    }
    else
    {
        foreach (var post in Model.Posts)
        {
            <article class="preview">
                <header>
                    <h1 class="post-title"><a href="@post.Url()" title="Read this article">@post.Name</a></h1>
                    <div class="post-meta">
                        <time datetime="@post.PublishedDate.ToString("yyyy-MM-dd")">
                            @post.PublishedDate.ToString("dddd, MMMM dd, yyyy")
                        </time>
                    </div>
                </header>
                <section class="post-excerpt">
                    @if (post.PostImage != null)
                    {
                        var thumbnail = post.PostImage.GetCropUrl("blogPost");
                        if (thumbnail != null)
                        {
                            <div class="postthumb" style="background: url(@thumbnail)"></div>
                        }
                    }
                    <p>
                        @post.Excerpt&hellip;
                    </p>
                    <p class="readmore">
                        <a href="@post.Url()" title="Read this article">Read this article <i class="fa-solid fa-circle-chevron-right"></i></a>
                    </p>
                </section>

            </article>
        }

        @await Html.PartialAsync("Pager", Model.Pages)
        
    }

