@addTagHelper *, Smidge
@using Articulate;
@using Umbraco.Extensions;

@model global::Articulate.Models.IMasterModel

<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://cdn.jsdelivr.net">

    <title>@Model.PageTitle</title>
    @Html.MetaTags(Model)
    @Html.SocialMetaTags(Model)
    @Html.AdvertiseWeblogApi(Model)
    @Html.RssFeed(Model)
    @Html.RenderOpenSearch(Model)
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="articulate-vapor-css" rel="stylesheet" fetchpriority="high">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?subset=latin,cyrillic-ext,latin-ext,cyrillic&family=Open+Sans+Condensed:300|Open+Sans:400,600,400italic,600italic|Merriweather:400,300,300italic,400italic,700,700italic|Roboto+Slab:400,300&display=swap">
    <!-- Font Awesome 6 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@6.7.2/css/fontawesome.min.css" integrity="sha256-TBe0l9PhFaVR3DwHmA2jQbUf1y6yQ22RBgJKKkNkC50=" crossorigin="anonymous" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@6.7.2/css/brands.min.css" integrity="sha256-lvqQzfgRxG8QBB5QMqpZGrljg5T/hNmC3vC7i3zntlI=" crossorigin="anonymous" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@6.7.2/css/solid.min.css" integrity="sha256-ETbOOM9U8WfaXg2AkW2t+QbdpWYFRAO+HEXOth8EQbY=" crossorigin="anonymous" media="print" onload="this.media='all'">

    @RenderSection("Header", false)
</head>
<body class="@ViewBag.CssBodyClass">
    <a href="#main-content" class="skip-link" title="Skip to main content">Skip to main content</a>

    <header id="site-head" role="banner">

        @if (!Model.BlogLogo.IsNullOrWhiteSpace())
        {
            <a id="blog-logo" href="@Url.ArticulateRootUrl(Model)" title="Blog Home">
                <div class="bloglogo" style="background: url(@Model.BlogLogo)"></div>
            </a>
        }

        <h1 class="blog-title">
            <a href="@Url.ArticulateRootUrl(Model)" title="Blog Home">
                @Model.BlogTitle
            </a>
        </h1>

        @await Html.PartialAsync("HeaderDescription", Model)
        @await Html.PartialAsync("Menu", Model)

    </header>

    <main id="main-content" role="main" tabindex="-1">
        @RenderBody()
    </main>


    <footer class="site-footer">
        <div class="inner">

            @await Html.PartialAsync("FooterDescription", Model)

            <section class="copyright">
                &copy; @DateTime.Now.ToString("yyyy")
                <a href="/" title="Blog Home">@Model.BlogTitle</a>. All rights reserved.
            </section>
            <section>Vapor theme by <a href="https://sethlilly.com/" title="Theme Author Website">Seth Lilly</a></section>

        </div>
    </footer>

    <script src="articulate-vapor-js" type="text/javascript" async></script>

    @Html.GoogleAnalyticsTracking(Model)

</body>
</html>
