@model PostModel
@{
    Layout = "Master.cshtml";
    ViewBag.CssBodyClass = "post-template";
    var absUrl = Model.Url(mode: UrlMode.Absolute);
}

@section header
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.30.0/themes/prism.min.css" integrity="sha256-ko4j5rn874LF8dHwW29/xabhh8YBleWfvxb8nQce4Fc=" crossorigin="anonymous" media="print" onload="this.media='all'">
}

    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

        <header>
            <h1 class="post-title" itemprop="headline">@Model.Name</h1>
            <div class="post-meta" aria-label="Post details">
                <time datetime="@Model.PublishedDate.ToString("yyyy-MM-dd")" itemprop="datePublished">
                    @Model.PublishedDate.ToString("dddd, MMMM dd, yyyy")
                </time>
            </div>
        @await Html.PartialAsync("PostTags", Model)
        </header>

        <section class="post-content">

            @if (!Model.CroppedPostImageUrl.IsNullOrWhiteSpace())
            {
                <img class="postImage" alt="@Model.Name" src="@Model.CroppedPostImageUrl" fetchpriority="high" width="625" height="320"/>
            }

            <div>
                @Model.Body
            </div>

        </section>

        <section class="share">
            <p class="info prompt">Share this post</p>
            <div class="share-icons">
                <a href="https://x.com/share?text=@Model.Name&url=@absUrl"
                   onclick="window.open(this.href, 'x-share', 'width=550,height=235');return false;"
                   aria-label="Share on X (opens in new window)"
                   rel="noopener noreferrer" title="Share on X (opens in new window)">
                    <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
                    <span class="sr-only">Share on X (opens in new window)</span>
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=@absUrl"
                   onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"
                   aria-label="Share on Facebook (opens in new window)"
                   rel="noopener noreferrer" title="Share on Facebook (opens in new window)">
                    <i class="fa-brands fa-facebook-f" aria-hidden="true"></i>
                    <span class="sr-only">Share on Facebook (opens in new window)</span>
                </a>
            </div>
        </section>

        <footer class="post-footer">

            @if (!Model.Author.Name.IsNullOrWhiteSpace())
            {
                <section class="author">
                    @if (Model.Author.Image != null)
                    {
                        var thumbnail = Model.Author.Image.GetCropUrl("blogPost");
                        if (thumbnail != null)
                        {
                            <div class="authorimage" style="background: url(@thumbnail)"></div>
                        }
                    }
                    <p class="attr">Author</p>
                    <h4>
                        @if (!Model.Author.BlogUrl.IsNullOrWhiteSpace())
                        {
                            <a href="@Model.Author.BlogUrl" title="View Author Blog">@Model.Author.Name</a>
                        }
                        else
                        {
                            @Model.Author.Name
                        }
                    </h4>
                    @if (!Model.Author.Bio.IsNullOrWhiteSpace())
                    {
                        <p class="bio">@Model.Author.Bio</p>
                    }
                </section>
            }

        </footer>

        @if (Model.EnableComments)
        {
        @await Html.PartialAsync("CommentsDisqus", Model)
        @*@await Html.PartialAsync( "CommentsFacebook", Model)*@
        }

    </article>


<script src="https://cdn.jsdelivr.net/npm/prismjs@1.30.0/components/prism-core.min.js" integrity="sha256-bKrTFt2ZHyT4AE4LnBnAVctYKf9l6XP77kBvltgbjn4=" crossorigin="anonymous" defer></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.30.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha256-AjM0J5XIbiB590BrznLEgZGLnOQWrt62s3BEq65Q/I0=" crossorigin="anonymous" defer></script>
