@using Articulate
@using Umbraco.Extensions


@model global::Articulate.Models.AuthorModel
@{
    Layout = "Master.cshtml";
}

@section Header
{
    @Html.AuthorRssFeed(Model, Url)
}


    
    <article class="post">

        <header>
            <h1 class="post-title"><a href="@Url.ArticulateAuthorRssUrl(Model)" title="AuthorRSS feed"><i class="fa-solid fa-rss"></i><span class="hidden">RSS</span></a> @Model.Name</h1>
        </header>
        <section class="post-content">

            @if (Model.Image != null)
            {
                var img = Model.Image.GetCropUrl("wide");
                <img class="postImage" src="@img" fetchpriority="high" width="625" height="320" alt="@Model.Name post image"/>
            }
            <p>@Model.Bio</p>
            @if (!Model.AuthorUrl.IsNullOrWhiteSpace())
            {
                <p>
                    Website: <a href="@Model.AuthorUrl" title="View Author Website">@Model.AuthorUrl</a>
                </p>
            }

        </section>

        <hr />

        @if (Model.PostCount == 0)
        {
            <section>No blog posts found</section>
        }
        else
        {
            <div class="author-posts">
                
                <h3>Author's Posts</h3>
                @await Html.ThemedPartialAsync(Model, "PostList", Model.Posts)

                @await Html.ThemedPartialAsync(Model, "Pager", Model.Pages)
            </div>
               
        }

    </article>
    
    

