@model ListModel
@{
    Layout = "Master.cshtml";
    var posts = Model.Posts.ToList();
}

<main role="main">

    @if (!posts.Any())
    {
        <article>No blog posts found</article>
    }
    else
    {
        foreach (var post in posts)
        {
            <article class="post tag-ghost-tag">
                <header class="post-header">
                    <span class="post-meta">
                        <time datetime="@post.PublishedDate.ToString("yyyy-MM-dd")">
                            @post.PublishedDate.ToString("dddd, MMMM dd, yyyy")
                        </time>
                        @await Html.PartialAsync("PostTags", post)
                    </span>

                    <h2 class="post-title"><a href="@post.Url()">@post.Name</a></h2>

                </header>
                <section class="post-excerpt">
                    @{
                        var thumbnail = post.PostImage?.GetCropUrl(cropAlias: "thumbnail", preferFocalPoint: true, useCropDimensions: true);
                        if (thumbnail != null)
                        {
                            <img class="thumb" src="@thumbnail" alt="@post.Name" />
                        }
                    }
                    <p>@post.Excerpt&hellip;</p>
                </section>
            </article>
        }

        @await Html.PartialAsync("Pager", Model.Pages)
    }

</main>
