@model TagListModel
@{
    Layout = "Master.cshtml";
    var asArray = Model?.Tags?.ToArray() ?? Array.Empty<PostsByTagModel>();
}


<article>
    <h1>@Model?.Name</h1>
    @{
        var isTagsAction = ViewContext.RouteData.Values["action"]?.ToString()?.Equals("Tags", StringComparison.OrdinalIgnoreCase) == true;
    }

    @if (isTagsAction)
    {
        <div class="tag-cloud-large">
            @Model?.Tags.TagCloud(@<a href="#tag-@item.HtmlId" title="View Posts with the tag @item.TagName">@item.TagName</a>, 5, 50)
        </div>
    }
    else
    {
        <ul class="tag-list">
            @foreach (var t in asArray)
            {
                <li>
                    <a href="#tag-@t.HtmlId" title="View Posts with the tag @t.TagName">@t.TagName</a> - (@t.PostCount)
                </li>
            }
        </ul>
    }

    <hr />

    <div class="tag-list">
        @for (var i = 0; i < asArray.Length; i++)
        {
            <h2>
                <a href="@asArray[i].ArticulateTagRssUrl()" title="RSS feed for the tag @asArray[i].TagName"><i class="fa-solid fa-rss"></i><span class="hidden">RSS</span></a>
                <a id="tag-@asArray[i].HtmlId" href="@asArray[i].TagUrl" title="View Posts with the tag @asArray[i].TagName">@asArray[i].TagName</a>
            </h2>

            @asArray[i].Posts?.OrderByDescending(x => x.PublishedDate).Table(
                new[] { "Date", "Name" },
                Array.Empty<string>(),
                @<span>@item?.PublishedDate.ToString("yyyy-MM-dd")</span>,
                @<a href="@item?.Url()" title="View Post">@item?.Name</a>)
        }
    </div>


</article>

